# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Generated exports
exports/abi/
exports/addresses.ts
exports/addresses.json

# macOS
.DS_Store
